<header class="header">
  <div class="content">
    <div class="header-informations">
      <ul>
        <a routerLink="">
          <li id="title-store">{{ titleApp }}</li>
        </a>
        <li>
          <span class="material-icons">
            place
          </span>
          {{ city }}
        </li>
        <li>
          <span class="material-icons">
            call
          </span>
          {{ callCenter }}
        </li>
        <a routerLink="wishlist">
          <li>
            <span class="material-icons">
              favorite
            </span>
            {{ wishlist }}
          </li>
        </a>
      </ul>
    </div>

    <div class="search-header">
      <div class="container">
        <button class="btn-search" type="button">
          <span class="material-icons">
            search
          </span>
        </button>

        <input matInput class="input-search" type="text" [placeholder]="busca">
      </div>

    </div>
  </div>
</header>
