.content{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card-list{
  width: 150px;
  margin: 10px;
}

a{
  cursor: pointer;
}

span{
  font-size: 35px;
}

.informations-card{
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  align-self: center;
}

mat-card-title{
  font-size: 15px;
}

::ng-deep .mat-card-header-text{
  margin: 0px !important;
}




