.header{
  background-color: #4B0082;
  color: #FFF;
  padding: 20px 0;
}

#title-store{
  font-size: 40px;
}

.content{
  width: 98%;
  margin: 0 auto;
}

.header-informations ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-informations li{
  font-size: 20px;
  list-style: none;
  margin: 10px;
  align-items: center;
}

.search-header{
  width: 94%;
  display: flex;
  justify-content: flex-end;
}

.container{
  display: flex;
  justify-content: flex-end;
}

.btn-search{
	height: 52px;
	font-size: 20px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
  position: relative;
  background-color: #FFF;
}

.input-search{
  border-radius: 0px 4px 4px 0px;
	background-color: #FFF;
	color: #000;
	border: none;
	height: 50px;
  width: 1100px;
	font-size: 20px;
	outline: none;
}






