<header class="header">
  <div class="content">
    <div class="header-informations">
      <ul>
        <li id="title-store">MagaNets</li>
        <li>
          <span class="material-icons">
            place
          </span>
          Cidade: São Paulo-SP
        </li>
        <li>
          <span class="material-icons">
            call
          </span>
          Central de Atendimento
        </li>
        <li>
          <span class="material-icons">
            favorite
          </span>
          Lista de Desejos
        </li>
      </ul>
    </div>

    <div class="search-header">
      <div class="container">
        <button class="btn-search" type="button">
          <span class="material-icons">
              search
          </span>
        </button>

        <input class="input-search" type="text" placeholder="Busca">
      </div>

    </div>
  </div>
</header>
